@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%; /* 背景色 */
    --foreground: 222.2 84% 4.9%; /* テキスト色 */

    --card: 0 0% 100%; /* カードの背景色 */
    --card-foreground: 222.2 84% 4.9%; /* カードのテキスト色 */
 
    --popover: 40 0% 100%; /* ポップオーバーの背景色 */
    --popover-foreground: 222.2 84% 4.9%; /* ポップオーバーのテキスト色 */
 
    --primary: 222.2 47.4% 11.2%; /* プライマリーカラー */
    --primary-foreground: 210 40% 98%; /* プライマリーカラーのテキスト色 */
 
    --secondary: 210 40% 96.1%; /* セカンダリーカラー */
    --secondary-foreground: 222.2 47.4% 11.2%; /* セカンダリーカラーのテキスト色 */
 
    --muted: 210 40% 96.1%; /* ミュートカラー */
    --muted-foreground: 215.4 16.3% 46.9%; /* ミュートカラーのテキスト色 */
 
    --accent: 210 40% 96.1%; /* アクセントカラー */
    --accent-foreground: 222.2 47.4% 11.2%; /* アクセントカラーのテキスト色 */
 
    --destructive: 0 84.2% 60.2%; /* 破壊的カラー */
    --destructive-foreground: 210 40% 98%; /* 破壊的カラーのテキスト色 */

    --border: 214.3 31.8% 91.4%; /* ボーダーの色 */
    --input: 214.3 31.8% 91.4%; /* インプットの色 */
    --ring: 222.2 84% 4.9%; /* リングの色 */
 
    --radius: 0.75rem; /* ボーダーの丸み */
  }
 
  .dark {
    /* ダークモードのカラースキーム */
    --background: 224 71.4% 3.1%;
    --foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 20.6% 80.9%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --border: 200 10% 30%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.hidden-scrollbar{
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display:none;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}